<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="container">
        <form class="form" action="/create" method="post" enctype="multipart/form-data">
            <label for="plano">Plano de Manutenção:</label>
            <input type="file" name="plano" id="plano">
            <label for="predio">Predio:</label>
            <input type="text" name="predio" id="predio">
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>

</html>