<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <% avisos.forEach((aviso) => { %>
        <div class="aviso"> ERRO:<%= aviso %> </div>
        <br>
     <% }); %> 
    <textarea name="ite" id="" cols="30" rows="10">
        <%- ite %>
    </textarea>
    <textarea name="isa" id="" cols="30" rows="10">
        <%- isa %>
    </textarea>
</body>

</html>